
.box-fields {
    width: auto;
    display: block;
    @media (max-width: $xs) {
        .editmobilebutton {
            display: block;
        }
        .editprofile--desktop {
            display: none;
        }
        .editprofile--mobile {
            display: block;
        }
    }
}

.editprofile--mobile {
    display: none;
    @media (max-width: $xs) {
        display: block;
    }
}

.about-profile-mobile {
    .editmobilebutton {
        background-color: #ecf1f4;
        border: none;
        padding: 6px;  
        cursor: pointer;
        margin-top: -40px;
        width: auto;
    }
    .buttons-editing {
        margin-top: -40px;
        width: auto;
    }
}

.profile-field {
    width: fit-content;
}

.tooltip-edit {
    min-width: 170px;
    left: 103%;
    top: -9px;
    position: absolute;
    background: white;
    padding: 10px 12px;
    box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.22);
    z-index: 10;
    &:after {
        content: " ";
        position: absolute;
        top: 10%;
        height: 0;
        width: 0;
        left: -22px;
        border: 13px solid transparent;
        border-right-color: #fff;
    }
}

.field-editbutton {
    background-color: #ecf1f4;
    border: none;
    padding: 6px;  
    cursor: pointer;
}

.field-label {
    background-color: #f6f7f9;
    padding: 6px 6px;
}
.field-editbutton img {
    width: 10px;
}