.header {
    background-color: $white;
    box-shadow: 0px 2px 6px -1px #ada7a7bf; 
    .header--logout {
        button {
            @extend .btn--primary--outline; 
        }
    }
    .header--coverimage {
        button {
            @extend .btn--secondary--outline;
        }
    }
    .header--info {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid $gray;
        align-items: center;
        .profile-img {
            max-width: 150px;
            margin-bottom: -30px;
            padding-left: 1rem;
            img {
                width: 100%;
            }   
        }
        .profile-info {
            display: flex;
            justify-content: space-between;
            flex-grow: 1;
        }   
    }
    

    .profile-tabs {
        margin-left: 170px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0rem 1rem;
        background-color: $white;
        ul {
            list-style-type: none;
            display: flex;
            overflow-x: scroll;
            li {
                margin: 0 8px;
                padding: 12px 0;
                text-transform: uppercase;
                cursor: pointer;
                &.active {
                    border-bottom: 2px solid #41a9e6;
                }
            }
        }
        .profile-tabs--folowers {
            display: flex;
            align-items: center;
        }
    }
    @media (max-width: $xs) {
        background-color: transparent;
        box-shadow: none;
        .header--logout {
            button {
                @include text-primary;
                border: none; 
                background-color: transparent;
                box-shadow: none;
                font-weight: 600;
            } 
        }
        .header--coverimage {
            display: none;
        }
        .header--info {
            border-bottom: none;
            .profile-img {
                width: 100%;
                max-width: 100%;
                margin-bottom: 0;
                display: flex;
                padding-left: 0;
                justify-content: center;
                img {
                    margin: 0 auto;
                    width: 150px;
                }
            }
            .profile-info {
                display: block;
                .profile-info__name {
                    display: flex;
                    justify-content: center;
                }
            }
        }
        .profile-tabs {
            margin-left: 0px;
            margin-top: 0px;
            padding: 0rem;
            background-color: transparent;
            ul {
                width: 100%;
                background-color: $white;
                box-shadow: 0px 2px 6px -1px #ada7a7bf;
                order: 1;
            }
            .profile-tabs--folowers {
                width: 100%;
                order: 0;
                padding: 0rem 1rem 1rem 1rem;
            }
        }
    }
}