.profile-reviews {
    display: flex;
    align-items: center;
    .rating{
        margin-right: 7px;
        display: flex;
        i {
            color: $secondary;
        }
    }
    @media (max-width: $xs) {
        display: block;
        .rating {
            margin-right: 0px;
            i {
                color: $primary;
            }
        }
    }
}