@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.btn {
  border-radius: 2px;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  padding: 0.4rem;
  transition: .3s all ease-out;
  border: none;
  cursor: pointer; }
  .btn:hover {
    box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.2); }
  .btn[disabled] {
    background-color: #aeb8c0;
    border: 1px solid #aeb8c0; }
  .btn--link {
    background: transparent;
    box-shadow: none; }
    .btn--link:hover {
      box-shadow: none; }
  .btn--primary {
    border: 1px solid #107ee5;
    background: #107ee5; }
  .btn--primary--outline, .header .header--logout button {
    border: 1px solid #107ee5;
    color: #107ee5;
    background: #ffffff; }
  .btn--secondary {
    border: 1px solid #a5a5a5;
    background: #a5a5a5; }
  .btn--secondary--outline, .header .header--coverimage button {
    border: 1px solid #a5a5a5;
    color: #a5a5a5;
    background: #ffffff; }
  .btn--lg {
    padding: 0.5rem 0.7rem; }
  .btn__text {
    font-size: 1.5em; }
  .btn__text + .btn__icon,
  .btn__icon + .btn__text {
    margin-left: 0.6em; }
  .btn__icon {
    position: relative;
    bottom: 2px; }

.m-1 {
  margin: 0.5rem; }

.m-2 {
  margin: 1rem; }

.m-4 {
  margin: 2rem; }

.m-6 {
  margin: 3rem; }

.m-8 {
  margin: 4rem; }

.mb-1 {
  margin-bottom: 0.5rem; }

.mb-2 {
  margin-bottom: 1rem; }

.mb-4 {
  margin-bottom: 2rem; }

.mb-6 {
  margin-bottom: 3rem; }

.mb-8 {
  margin-bottom: 4rem; }

.mt-1 {
  margin-top: 0.5rem; }

.mt-2 {
  margin-top: 1rem; }

.mt-4 {
  margin-top: 2rem; }

.mt-6 {
  margin-top: 3rem; }

.mt-8 {
  margin-top: 4rem; }

.ml-1 {
  margin-left: 0.5rem; }

.ml-2 {
  margin-left: 1rem; }

.ml-4 {
  margin-left: 2rem; }

.ml-6 {
  margin-left: 3rem; }

.ml-8 {
  margin-left: 4rem; }

.mr-1 {
  margin-right: 0.5rem; }

.mr-2 {
  margin-right: 1rem; }

.mr-4 {
  margin-right: 2rem; }

.mr-6 {
  margin-right: 3rem; }

.mr-8 {
  margin-right: 4rem; }

.p-1 {
  padding: 0.5rem; }

.p-2 {
  padding: 1rem; }

.p-4 {
  padding: 2rem; }

.p-6 {
  padding: 3rem; }

.p-8 {
  padding: 4rem; }

.pb-1 {
  padding-bottom: 0.5rem; }

.pb-2 {
  padding-bottom: 1rem; }

.pb-4 {
  padding-bottom: 2rem; }

.pb-6 {
  padding-bottom: 3rem; }

.pb-8 {
  padding-bottom: 4rem; }

.pt-1 {
  padding-top: 0.5rem; }

.pt-2 {
  padding-top: 1rem; }

.pt-4 {
  padding-top: 2rem; }

.pt-6 {
  padding-top: 3rem; }

.pt-8 {
  padding-top: 4rem; }

.pl-1 {
  padding-left: 0.5rem; }

.pl-2 {
  padding-left: 1rem; }

.pl-4 {
  padding-left: 2rem; }

.pl-6 {
  padding-left: 3rem; }

.pl-8 {
  padding-left: 4rem; }

.pr-1 {
  padding-right: 0.5rem; }

.pr-2 {
  padding-right: 1rem; }

.pr-4 {
  padding-right: 2rem; }

.pr-6 {
  padding-right: 3rem; }

.pr-8 {
  padding-right: 4rem; }

.border {
  border: 1px solid #bbb8b8; }

.border-l {
  border-left: 1px solid #bbb8b8; }

.border-r {
  border-right: 1px solid #bbb8b8; }

.border-t {
  border-top: 1px solid #bbb8b8; }

.border-b {
  border-bottom: 1px solid #bbb8b8; }

.w-full {
  width: 100%; }

/********* POSITIONS  **********/
.relative {
  position: relative; }

.absolute {
  position: absolute; }

.fixed {
  position: fixed; }

/******* SHADOWS *********/
.shadow {
  box-shadow: 0px 2px 6px -1px #ada7a7bf; }

/***** TEXT SIZES ******/
.text-xs {
  font-size: 0.75rem; }

.text-sm {
  font-size: 0.9rem; }

.text-base {
  font-size: 1rem; }

.text-md {
  font-size: 1.2rem; }

.text-lg {
  font-size: 1.4rem; }

.text-xl {
  font-size: 1.6rem; }

/********* TEXT COLORS ********/
.text-base {
  color: #3a3c3d; }

.text-primary {
  color: #107ee5; }

.text-secondary {
  color: #a5a5a5; }

.text-gray {
  color: #bbb8b8; }

/****** BG COLORS ********/
.bg-base {
  background-color: #3a3c3d; }

.bg-primary {
  background-color: #107ee5; }

.bg-secondary {
  background-color: #a5a5a5; }

.bg-gray {
  background-color: #bbb8b8; }

.bg-white {
  background-color: #ffffff; }

.capitalize {
  text-transform: capitalize; }

.uppercase {
  text-transform: uppercase; }

/******* MIXINGS TO USE INSIDE MEDIA QUERIES ********/
input.input {
  width: 100%;
  border: none;
  padding: 5px 4px;
  border-bottom: 1px solid #bbb8b8; }
  input.input:focus {
    outline: none; }

.group {
  position: relative;
  margin: 15px 0; }

/****** INPUTS *****/
textarea {
  resize: none; }

input,
textarea {
  background: none;
  color: #252525;
  padding: 8px 0px 8px 0px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #a5a5a5; }
  input:focus,
  textarea:focus {
    outline: none; }
  input:focus ~ label,
  input:valid ~ label,
  textarea:focus ~ label,
  textarea:valid ~ label {
    top: -9px; }
  input:focus ~ .bar:before,
  textarea:focus ~ .bar:before {
    width: 100%; }

input[type="password"] {
  letter-spacing: 0.3em; }

label {
  color: #a5a5a5;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 0px;
  top: 10px;
  transition: .5s ease all; }

.bar {
  position: relative;
  display: block;
  width: 100%; }
  .bar:before {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: #107ee5;
    transition: .5s ease all;
    left: 0%; }

.header {
  background-color: #ffffff;
  box-shadow: 0px 2px 6px -1px #ada7a7bf; }
  .header .header--info {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #bbb8b8;
    align-items: center; }
    .header .header--info .profile-img {
      max-width: 150px;
      margin-bottom: -30px;
      padding-left: 1rem; }
      .header .header--info .profile-img img {
        width: 100%; }
    .header .header--info .profile-info {
      display: flex;
      justify-content: space-between;
      flex-grow: 1; }
  .header .profile-tabs {
    margin-left: 170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
    background-color: #ffffff; }
    .header .profile-tabs ul {
      list-style-type: none;
      display: flex;
      overflow-x: scroll; }
      .header .profile-tabs ul li {
        margin: 0 8px;
        padding: 12px 0;
        text-transform: uppercase;
        cursor: pointer; }
        .header .profile-tabs ul li.active {
          border-bottom: 2px solid #41a9e6; }
    .header .profile-tabs .profile-tabs--folowers {
      display: flex;
      align-items: center; }
  @media (max-width: 680px) {
    .header {
      background-color: transparent;
      box-shadow: none; }
      .header .header--logout button {
        color: #107ee5;
        border: none;
        background-color: transparent;
        box-shadow: none;
        font-weight: 600; }
      .header .header--coverimage {
        display: none; }
      .header .header--info {
        border-bottom: none; }
        .header .header--info .profile-img {
          width: 100%;
          max-width: 100%;
          margin-bottom: 0;
          display: flex;
          padding-left: 0;
          justify-content: center; }
          .header .header--info .profile-img img {
            margin: 0 auto;
            width: 150px; }
        .header .header--info .profile-info {
          display: block; }
          .header .header--info .profile-info .profile-info__name {
            display: flex;
            justify-content: center; }
      .header .profile-tabs {
        margin-left: 0px;
        margin-top: 0px;
        padding: 0rem;
        background-color: transparent; }
        .header .profile-tabs ul {
          width: 100%;
          background-color: #ffffff;
          box-shadow: 0px 2px 6px -1px #ada7a7bf;
          order: 1; }
        .header .profile-tabs .profile-tabs--folowers {
          width: 100%;
          order: 0;
          padding: 0rem 1rem 1rem 1rem; } }

.box-fields {
  width: auto;
  display: block; }
  @media (max-width: 680px) {
    .box-fields .editmobilebutton {
      display: block; }
    .box-fields .editprofile--desktop {
      display: none; }
    .box-fields .editprofile--mobile {
      display: block; } }

.editprofile--mobile {
  display: none; }
  @media (max-width: 680px) {
    .editprofile--mobile {
      display: block; } }

.about-profile-mobile .editmobilebutton {
  background-color: #ecf1f4;
  border: none;
  padding: 6px;
  cursor: pointer;
  margin-top: -40px;
  width: auto; }

.about-profile-mobile .buttons-editing {
  margin-top: -40px;
  width: auto; }

.profile-field {
  width: fit-content; }

.tooltip-edit {
  min-width: 170px;
  left: 103%;
  top: -9px;
  position: absolute;
  background: white;
  padding: 10px 12px;
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.22);
  z-index: 10; }
  .tooltip-edit:after {
    content: " ";
    position: absolute;
    top: 10%;
    height: 0;
    width: 0;
    left: -22px;
    border: 13px solid transparent;
    border-right-color: #fff; }

.field-editbutton {
  background-color: #ecf1f4;
  border: none;
  padding: 6px;
  cursor: pointer; }

.field-label {
  background-color: #f6f7f9;
  padding: 6px 6px; }

.field-editbutton img {
  width: 10px; }

.profile-reviews {
  display: flex;
  align-items: center; }
  .profile-reviews .rating {
    margin-right: 7px;
    display: flex; }
    .profile-reviews .rating i {
      color: #a5a5a5; }
  @media (max-width: 680px) {
    .profile-reviews {
      display: block; }
      .profile-reviews .rating {
        margin-right: 0px; }
        .profile-reviews .rating i {
          color: #107ee5; } }

body {
  background-color: #f4f8f9;
  overflow-y: hidden;
  font-family: 'Roboto', sans-serif;
  color: #3a3c3d; }
  @media (max-width: 680px) {
    body {
      overflow-y: scroll; } }

.container {
  max-width: 900px;
  margin: 0 auto; }

/******** FLEX ***********/
.inline-flex {
  display: inline-flex; }

.block {
  display: block; }

.flex {
  display: flex;
  flex-wrap: wrap; }

.flex-grow {
  flex-grow: 1; }

.flex-row {
  direction: row; }

.flex-col {
  direction: col; }

.items-start {
  align-items: flex-start; }

.items-center {
  align-items: center; }

.items-end {
  align-items: flex-end; }

.justify-start {
  justify-content: flex-start; }

.justify-between {
  justify-content: space-between; }

.justify-center {
  justify-content: center; }

.justify-end {
  justify-content: flex-end; }

/**** HIDE SCROLLBAR *****/
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  /* background: transparent; / optional: just make scrollbar invisible */ }
