@mixin button-style($button-color) {
  border: 1px solid $button-color;
  background: $button-color;
}

@mixin button-style-outline($button-color) {
    border: 1px solid $button-color;
    color: $button-color;
    background: $white;
  }

.btn {
  border-radius: 2px;
  box-shadow: $box-shadow;
  color: $button-text-color;
  padding: 0.4rem;
  transition: .3s all ease-out;
  border: none;
  cursor: pointer;
  
  &:hover {
    box-shadow: $box-shadow-hover;
  }
  
  &[disabled] {
    background-color: $disabled;
    border: 1px solid $disabled;
  }


  &--link {
    background: transparent;;
    box-shadow: none;
    &:hover {
        box-shadow: none;
    }
  }

  &--primary {
    @include button-style($primary);
  }

  &--primary--outline {
      @include button-style-outline($primary);
  }

  &--secondary {
    @include button-style($secondary);
  }

  &--secondary--outline {
      @include button-style-outline($secondary);
  }

  &--lg {
    padding: 0.5rem 0.7rem;
  }
  
  &__text {
    font-size: 1.5em;  
  }
  
  &__text + &__icon,
  &__icon + &__text {
    margin-left: 0.6em; 
  }
  
  &__icon {
    position: relative;
    bottom: 2px;
    
  }
}