.m {
    @include spacing-utilities('margin');
}
  
.p {
    @include spacing-utilities('padding');
}

.border {
    @include border-utilities('border');
}

.w-full { width: 100%; }

/********* POSITIONS  **********/
.relative { position: relative; }
.absolute { position: absolute; }
.fixed { position: fixed; }

/******* SHADOWS *********/
.shadow { box-shadow: 0px 2px 6px -1px #ada7a7bf; }

/***** TEXT SIZES ******/
.text-xs { font-size: 0.75rem; }
.text-sm { font-size: 0.9rem; }
.text-base { font-size: 1rem; }
.text-md { font-size: 1.2rem; }
.text-lg { font-size: 1.4rem; }
.text-xl { font-size: 1.6rem; }

/********* TEXT COLORS ********/
.text-base { color: $base; }
.text-primary { color: $primary; }
.text-secondary { color: $secondary; }
.text-gray { color: $gray; }

/****** BG COLORS ********/
.bg-base { background-color: $base; }
.bg-primary { background-color: $primary; }
.bg-secondary { background-color: $secondary; }
.bg-gray { background-color: $gray; }
.bg-white { background-color: $white; }

.capitalize { text-transform: capitalize; }
.uppercase { text-transform: uppercase; }


/******* MIXINGS TO USE INSIDE MEDIA QUERIES ********/
@mixin text-primary {
    color: $primary;
}