input.input {
    width: 100%;
    border: none;
    padding: 5px 4px;
    border-bottom: 1px solid $gray;
    &:focus {
        outline: none;
    }
}
.group {
  position: relative;
  margin: 15px 0;
}

/****** INPUTS *****/
textarea {
  resize: none;
}

input,
textarea {
  background: none;
  color: #252525;
  padding: 8px 0px 8px 0px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $secondary;
  &:focus {
    outline: none;
  }
  &:focus ~ label,
  &:valid ~ label {
    top: -9px;
  }
  &:focus ~ .bar:before {
    width: 100%;
  }
}

input[type="password"] {
  letter-spacing: 0.3em;
}

label {
  color: $secondary;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 0px;
  top: 10px;
  transition: .5s ease all;
}

.bar {
  position: relative;
  display: block;
  width: 100%;
  &:before {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: $primary;
    transition: .5s ease all;
    left: 0%;
  }
}