$ds-spacing-map: (
  1: 0.5rem,
  2: 1rem,
  4: 2rem,
  6: 3rem,
  8: 4rem
);


@mixin spacing-utilities($attribute, $prefix: '-') {

  @each $name, $value in $ds-spacing-map {
    
    &#{$prefix}#{$name} {
      #{$attribute}: $value;
    }
  }
  
  $newattribute: $attribute + '-bottom';
  @each $name, $value in $ds-spacing-map {
    
    &b#{$prefix}#{$name} {
      #{$newattribute}: $value;
    }
  }
  $newattribute: $attribute + '-top';
  @each $name, $value in $ds-spacing-map {
    
    &t#{$prefix}#{$name} {
      #{$newattribute}: $value;
    }
  }
  
  $newattribute: $attribute + '-left';
  @each $name, $value in $ds-spacing-map {
    
    &l#{$prefix}#{$name} {
      #{$newattribute}: $value;
    }
  }
  
  $newattribute: $attribute + '-right';
  @each $name, $value in $ds-spacing-map {
    
    &r#{$prefix}#{$name} {
      #{$newattribute}: $value;
    }
  }
}

@mixin border-utilities($attribute, $prefix: '-') {

    $default: 1px solid $gray;
    & {
        #{$attribute}: $default;
    } 

    $newattribute: $attribute + '-left';
    &-l {
        #{$newattribute}: $default;
    }

    $newattribute: $attribute + '-right';
    &-r {
        #{$newattribute}: $default;
    }

    $newattribute: $attribute + '-top';
    &-t {
        #{$newattribute}: $default;
    }

    $newattribute: $attribute + '-bottom';
    &-b {
        #{$newattribute}: $default;
    }
    
    
}