$base: #3a3c3d;
$primary: #107ee5;
$secondary: #a5a5a5;
$gray: #bbb8b8;
$disabled: #aeb8c0;
$white: #ffffff;
$black: #000;

$box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.1);
$box-shadow-hover: 0px 2px 3px 2px rgba(0,0,0,0.2);

$button-icon-padding: 1em;
$button-text-color: $white;

$xs: 680px;
$md: 900px;

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css');

@import 'reset';
@import 'mixins';
@import 'buttons';
@import 'helpers';
@import 'inputs';
@import 'custom/custom';

body {
    background-color: #f4f8f9;
    overflow-y: hidden;
    font-family: 'Roboto', sans-serif;
    color: $base;
    @media (max-width: $xs) {
        overflow-y: scroll;   
    }
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

/******** FLEX ***********/
.inline-flex { display: inline-flex; }
.block { display: block; }
.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-grow {
    flex-grow: 1;
}

.flex-row {
    direction: row;
}

.flex-col {
    direction: col;
}

.items-start {
    align-items: flex-start;
}
.items-center {
    align-items: center;
}
.items-end {
    align-items: flex-end;
}

.justify-start {
    justify-content: flex-start;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

/**** HIDE SCROLLBAR *****/
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    /* background: transparent; / optional: just make scrollbar invisible */
}